rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Users can read their own document, and create it if it doesn't exist.
    // They can only write to their own document.
    match /users/{userId} {
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }

    // Users can create, read, and delete their own workout documents.
    match /workouts/{workoutId} {
        allow read, delete: if request.auth != null && request.auth.uid == resource.data.userId;
        allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }
  }
}
